<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GroepswerkTaak1.Properties.Settings.strCN" connectionString="TrustServerCertificate=True;Persist Security Info=False;Initial Catalog=db_user10;User ID=user10;Password=Test1234;Data Source=tcp:194.78.40.4,11433" />
    </connectionStrings>
</configuration>