<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GroepswerkTaak1.DAL.Properties.Settings.strCN" connectionString="Integrated Security=SSPI;Persist Security Info=False;Trust Server Certificate=True;Initial Catalog=db_user10;Data Source=C1429"
            providerName="" />
    </connectionStrings>
</configuration>