<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GroepswerkTaak1.DAL.Properties.Settings.strCN" connectionString="Integrated Security=SSPI;Persist Security Info=False;Trust Server Certificate=True;Initial Catalog=db_user10;Data Source=C1429" />
        <add name="GroepswerkTaak1.DAL.Properties.Settings.strCNcloud"
            connectionString="Encrypt=False;Integrated Security=SSPI;Password=Test1234;Persist Security Info=False;User ID=user10;Initial Catalog=db_user10;Data Source=tcp:194.78.40.4,11433" />
    </connectionStrings>
</configuration>